{% extends 'base.html' %}

{% block pageheading %}
shop all products
{% endblock %}

{% block main %}

<div class="products">
  {% for product in products %}
    <div class="product-box">
      <div class="product-box-heading">
        <h3>{{ product[0] }}</h3>
      </div>

      <div class="product-box-image">
        <img src="static/images/{{ product[3] }}.jpg">
      </div>

      <div class="product-box-info">
        <p>{{ product[1] }}</p>
        <p><strong>Size:</strong> {{ product[2] }}ml</p>
        <p><strong>Price:</strong> ${{ product[4] }}</p>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
🧴 contact.html (small upgrade)
{% extends 'base.html' %}

{% block pageheading %}
contact us
{% endblock %}

{% block main %}
<p style="text-align:center;">
  Got questions about skincare or makeup? Email us at support@glosshaus.com 💄
</p>
{% endblock %}